* {
    font-family: 'Share Tech', sans-serif;
}

.logo{
    margin-top: 25px;
    float: left;
}

.buttonRow{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regButton, .loginButton, .registerbutton, .resetbutton, .loginSubmit, .openProject, .createProjectButton{
    /*THIS STYLING GOES FOR EVERY BUTTON*/
    color: white;
    border-radius: 100px;
    background: #00B2EE;
    border: #00B2EE;
    width: 140px;
    height: 40px;
}


.createProjectButton, .openProject{
    width: 140px;
    height: 30px;
}

.regButton, .loginButton{
    display: inline-block;
}

.register, .loginDetailDiv, .row_db{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px ;
    text-align: center;
}

.regName, .regMail, .regUsername, .regPw, .loginEmail, .loginPw{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 25px;
    display: block;
}

.registerbutton, .resetbutton, .loginSubmit{
    margin-top: 15px;
}

.projectBrowse{
    width: 750px;
    margin:auto;
}

.createProject{
    margin: auto;
    text-align: center;
}

.projects{
    width: 225px;
    padding: 12px;
    border: 1px solid #00B2EE;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    float: left;
}

.projectInfo{
    outline: none;
    border-style: hidden;
    size: auto;
    width: 100%;
    float: left;
    text-align: left;
}

.createTasks, .createSubProject{
    margin: auto;

}
.createTaskSubmit, .createSubSubmit{
    color: white;
    border-radius: 100px;
    background: #00B2EE;
    border: #00B2EE;
    width: 140px;
    height: 30px;
    margin-top: 10px;
}



table{
    width: 100%;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th{
    color: white;
    border-collapse: collapse;
    background: #00B2EE;
    border: #00B2EE;
}

.showTasks{
    margin: auto;
    margin-top: 10px;
    table-layout: fixed;
}

.taskTable{
    width: 75%;
    margin: auto;
}

.dashBoardBtn{
    cursor: pointer;
}

.deleteTaskBtn{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.showSPTasks{
    width: 75%;
    margin: auto;
}

.innerSpTasks{
    margin-top: 20px;
}

.outerTable{
    border: none;
    background: #00B2EE
}

.innerTable{
    border: none;
    background: white;
}

.deleteProject, .editProject{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
}

.editProject{
    margin-right: 5px;
}


.editProjectName{
    width: 20px;
    height: 20px;
}








