<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>DASHBOARD</title>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="logo" src="logo.png" alt="logo" style="width: 50px; height: 50px;">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="projectBrowse">
            <div class="projects">
                <form action="/projectPost">
                    <input class="projectInfo" type="text" value="Project No.: 1" readonly="readonly">
                    <input class="projectInfo" type="text" value="Project name: Test project" readonly="readonly">
                    <input class="projectInfo" type="text" value="Employees assigned: 10" readonly="readonly">
                    <input class="projectInfo" type="text" value="30/11/2020 - 12/12/2020" readonly="readonly">
                    <input type="submit" value="OPEN" class="openProject">
                </form>
            </div>

            <div class="projects">
                <form action="/projectPost">
                    <input class="projectInfo" type="text" value="Project No.: 1" readonly="readonly">
                    <input class="projectInfo" type="text" value="Project name: Test project" readonly="readonly">
                    <input class="projectInfo" type="text" value="Employees assigned: 10" readonly="readonly">
                    <input class="projectInfo" type="text" value="30/11/2020 - 12/12/2020" readonly="readonly">
                    <input type="submit" value="OPEN" class="openProject">
                </form>
            </div>

            <div class="projects">
                <form action="/projectPost">
                    <input class="projectInfo" type="text" value="Project No.: 1" readonly="readonly">
                    <input class="projectInfo" type="text" value="Project name: Test project" readonly="readonly">
                    <input class="projectInfo" type="text" value="Employees assigned: 10" readonly="readonly">
                    <input class="projectInfo" type="text" value="30/11/2020 - 12/12/2020" readonly="readonly">
                    <input type="submit" value="OPEN" class="openProject">
                </form>
            </div>

            <div class="projects">
                <form action="/projectPost">
                    <input class="projectInfo" type="text" value="Project No.: 1" readonly="readonly">
                    <input class="projectInfo" type="text" value="Project name: Test project" readonly="readonly">
                    <input class="projectInfo" type="text" value="Employees assigned: 10" readonly="readonly">
                    <input class="projectInfo" type="text" value="30/11/2020 - 12/12/2020" readonly="readonly">
                    <input type="submit" value="OPEN" class="openProject">
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>