<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>DASHBOARD</title>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a onclick="location.href = '/dashboard';" class="dashBoardBtn">
                <img class="logo" src="logo.png" alt="logo" style="width: 50px; height: 50px;">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="createProject">
        <form action="/createPost" method="post">
            <input type="text" class="createProjectName" name="createProjectName" placeholder="New projects name.." required>
            <input type="submit" value="CREATE" class="createProjectButton">
        </form>
    </div>

    <div class="container">
        <div class="projectBrowse">
            <div class="projects" th:each="projectNames : ${listOfProjects}">
                <form action="/projectPost" method="post">
                    <input class="projectInfo" name="projectID" type="text" th:value="'Project No.: ' + ${projectNames.projectID}" readonly="readonly">
                    <input class="projectInfo" type="text"  th:value="'Project name: ' + ${projectNames.projectName}" readonly="readonly">
                    <input class="projectInfo" type="text" value="Employees assigned: 10" readonly="readonly">
                    <input class="projectInfo" type="text" th:value="${projectNames.projectStartDate}  + ' - ' + ${projectNames.projectEndDate}" readonly="readonly">
                    <input type="submit" value="OPEN" class="openProject">
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>