<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PROJECT</title>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="logo" src="logo.png" alt="logo" style="width: 50px; height: 50px;">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="createTasks">
            <form action="createTaskPost" method="post">
                <input type="text" name="taskName" placeholder="Task name" required>
                <input type="number" name="taskHours" placeholder="Amount of hours" required>
                <input type="number" name="taskEmployees" placeholder="Amount of employees" required>
                <input type="date" name="startDate" required>
                <input type="submit" value="CREATE TASK">
            </form>


            <div>
            <div th:if=${!#lists.isEmpty(taskList)}>
                    <table>
                    <tr>
                        <th>Task name</th>
                        <th>Amount of Hours</th>
                        <th>Amount of Employees</th>
                        <th>Start date</th>
                        <th>End date</th>
                    </tr>
                    <tr th:each="task : ${taskList}">
                        
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.taskHours}"></td>
                        <td th:text="${task.taskEmployees}"></td>
                        <td th:text="${task.startDate}"></td>
                        <td th:text="${task.endDate}"></td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>