<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PROJECT</title>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a onclick="location.href = '/dashboard';" class="dashBoardBtn">
                <img class="logo" src="logo.png" alt="logo" style="width: 50px; height: 50px;">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="createTasks">
            <form action="/createTaskPost" method="post" >
                <select name="subprojects" required >
                    <option value="" disabled selected>Select sub project</option>
                    <option value="0">None</option>
                    <option th:each="sp : ${spList}" th:text="${sp.subProjectName}" th:value="${sp.subProjectID}"></option>
                </select>

                <input type="text" name="taskName" placeholder="Task name" required>
                <input type="number" name="taskHours" placeholder="Amount of hours" required>
                <input type="number" name="taskEmployees" placeholder="Amount of employees" required>
                <input type="date" name="startDate" required>
                <input type="submit" value="CREATE TASK" class="createTaskSubmit">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="createSubProject">
            <form action="createSubProjectPost" method="post">
                <input type="text" name="subProjectName" placeholder="Sub project name" required>
                <input type="submit" value="CREATE SUB PROJECT" class="createSubSubmit">
            </form>
        </div>
    </div>


    <div class="row">
        <div th:if=${!#lists.isEmpty(taskList)} class="taskTable">
            <table class="showTasks">
                <tr>
                    <th>Task name</th>
                    <th>Amount of Hours</th>
                    <th>Amount of Employees</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th style="width: 30px"></th>
                </tr>
                <tr th:each="task : ${taskList}">
                    <form action="deleteTask" method="post">
                        <input type="hidden" th:value="${task.taskID}" name="taskToDelete">
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.taskHours}"></td>
                        <td th:text="${task.taskEmployees}"></td>
                        <td th:text="${task.startDate}"></td>
                        <td th:text="${task.endDate}"> </td>
                        <td> <input type="image" src="delete.png"  alt="Submit" class="deleteTaskBtn"></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

    <div class="row rowtest">
        <div th:if=${!#lists.isEmpty(spTask)} class="showSPTasks">
            <div th:each="spTask : ${spTask}" class="innerSpTasks">
                <div>
                <table class="outerTable">
                    <tr>
                        <th><span th:text="${spTask.subProjectName}"></span> <br> <span th:text="${spTask.startDate}"></span> <br> <span th:text="${spTask.endDate}"></span></th>
                        <input type="hidden" th:value="${spTask.subProjectID}" name="test">
                        <th><input type="image" src="delete.png"  alt="Submit" class="deleteTaskBtn"></th>
                        <td>
                            <table class="innerTable">
                                <tr>
                                    <th style="font-weight: bold">Task name</th>
                                    <th style="font-weight: bold">Task hours</th>
                                    <th style="font-weight: bold">Amount of Employees</th>
                                    <th style="font-weight: bold">Start date</th>
                                    <th style="font-weight: bold">End date</th>
                                    <th></th>
                                </tr>
                                <tr th:each="spTask1 : ${spTask.tasks}">
                                    <form action="/deleteSPTask" method="post">
                                    <input type="hidden" th:value="${spTask1.taskID}" name="spTaskToDelete">
                                    <td th:text="${spTask1.taskName}"></td>
                                    <td th:text="${spTask1.taskHours}"></td>
                                    <td th:text="${spTask1.taskEmployees}"></td>
                                    <td th:text="${spTask1.startDate}"></td>
                                    <td th:text="${spTask1.endDate}"> </td>
                                    <td> <input type="image" src="delete.png"  alt="Submit" class="deleteTaskBtn"></td>
                                    </form>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>